<h2>Create a Order</h2>

<%= form_with(model: [@product, @order], local: true) do |form| %>

<div>
  <%= form.label :Quantity %><br>
  <%= form.number_field :quantity %>
  <% @order.errors.full_messages_for(:quantity).each do |message| %>
    <%= message %>
  <% end %>  
</div>

<div>
  <%= form.label :Total_price %><br>
  <%= form.number_field :total_price, placeholder: "total_price = 'quantity*price'" %>
  <% @order.errors.full_messages_for(:total_price).each do |message| %>
    <%= message %>
  <% end %>
</div>
<!--
<div>
  <%= form.label :Product_id %><br>
  <%= form.select :product_id, Product.all.map { |t| [t.title, t.id] } %>
  <% @order.errors.full_messages_for(:product_id).each do |message| %>
    <%= message %>
  <% end %>
</div>
-->
<div>
  <%= form.submit %>
</div>

<% end %>
